@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: rgb(31 41 55);
    overflow-x: hidden;
}


.progress {
    animation: progress 1s infinite linear;
}

.left-right {
    transform-origin: 0% 50%;
}
@keyframes progress {
    0% {
        transform:  translateX(0) scaleX(0);
    }
    40% {
        transform:  translateX(0) scaleX(0.4);
    }
    100% {
        transform:  translateX(100%) scaleX(0.5);
    }
}

.minidenticon-svg svg {
    border-radius: 50%;
    background-color: grey;
    height: 48px;
    width: 48px;
}
